/* You can add additional CSS rules in custom.css. */

:root {
    --orange: #ff7b00;
    --red: #ff0020;
    --blue: #009fe3;
    --yellow: #ffb600;
    --light-yellow: #FFE933;
    --green: #33bf2a;
    --purple: #922d8dff;
}

.moduleheading {
    margin-top: -5px;
    margin-bottom: 5px;
}

nav.pdoc .submodulename a {
    color: var(--blue);
    ;
}

.logo-caption {
    font-size: 2rem;
}

@media screen and (max-width: 750px) {

    .logo-caption {
        font-size: 1.66rem;
    }

}

@media screen and (max-width: 500px) {

    .logo-caption {
        font-size: 1.33rem;
    }

}

.rainbow-text {
    background: linear-gradient(to right, var(--purple),var(--blue), var(--green), var(--yellow), var(--orange), var(--red), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}



body {
    font-family: "Arial";
    background-color: #eee;
}

.pdoc h1:target {
    background-color: var(--light-yellow);
    box-shadow: -1rem 0 0 0 var(--light-yellow);
    color: var(--purple);
}

.pdoc h2:target {
    background-color: var(--light-yellow);
    box-shadow: -1rem 0 0 0 var(--light-yellow);
    color: var(--purple);
}

.pdoc nav {
    background-color: #DCDCDC;
}

.pdoc .modulename {
    color: var(--orange);
}

.pdoc .modulename a {
    color: var(--blue);
}

/* pdoc overrides  */

.pdoc a {
    color: var(--blue);
}

.pdoc a:hover {
    color: var(--purple);
}

.pdoc .k {
    color: var(--blue);
}

.pdoc .ow {
    color: var(--purple);
}

.pdoc .se {
    color: var(--purple);
}

.pdoc .p {
    color: var(--purple);
}

.pdoc .s2 {
    color: var(--red);
}

.pdoc .sd {
    color: var(--red);
}

.pdoc .s1 {
    color: var(--red);
}


.pdoc .ne {
    color: var(--red);
}



.pdoc .kc {
    color: var(--green);
}

.pdoc .nb {
    color: var(--green);
}

/* .pdoc .n {
    color: var(--green);
} */

.pdoc .nt {
    color: var(--green);
}

.pdoc .bp {
    color: var(--green);
}



.pdoc .name {
    color: var(--purple);
}

.pdoc .nf {
    color: var(--purple);
}

.pdoc .c1 {
    color: var(--blue);
}

.pdoc .def {
    color: var(--blue);
}

nav.pdoc .variable {
    color: var(--blue);
}

nav.pdoc .function {
    color: var(--blue);
}

nav.pdoc .class {
    color: var(--purple);
}

nav.pdoc a:hover {
    color: var(--orange);
}

.memberlist li {
    font-size: 0.9rem;
    font-weight: bold;
}

.memberlist li .function::before {
    content: "☞ ";
}

.memberlist li .variable::before {
    content: "☞ ";
}

.memberlist li a.class {
    color: var(--purple);
    margin-left: 2px;
}

.memberlist li .class::before {
    content: "   ☞ ";
    color: var(--purple);
}